In [7]:
import pandas as pd
from bokeh.plotting import figure, show
from bokeh.io import output_file, output_notebook
from bokeh.models import ColumnDataSource
from bokeh.models import HoverTool
from bokeh.models.widgets import Tabs, Panel
from bokeh.io import curdoc

In [8]:
df = pd.read_csv('Covid19Indonesia.csv')
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,0.07,0.12,55.56%,111.11%,NaN,NaN,NaN,NaN,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,0.02,0.15,66.67%,366.67%,0.00,0.33,NaN,NaN,NaN,NaN
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,0.02,0.17,77.78%,522.22%,1.00,1.00,NaN,NaN,NaN,NaN
3,1/11/2020,ID-JI,Jawa Timur,0,3,8,-11,9,10,55,...,0.07,0.25,111.11%,611.11%,1.00,3.00,NaN,NaN,NaN,NaN
4,1/12/2020,ID-JI,Jawa Timur,0,3,1,-4,9,13,56,...,0.07,0.32,144.44%,622.22%,1.00,1.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16278,7/9/2021,ID-SG,Sulawesi Tenggara,124,1,3,120,12447,252,10412,...,0.38,95.62,2.02%,83.65%,0.92,0.50,NaN,NaN,NaN,NaN
16279,7/9/2021,ID-SA,Sulawesi Utara,278,9,9,260,17424,572,15525,...,3.41,216.51,3.28%,89.10%,1.24,9.00,NaN,NaN,NaN,NaN
16280,7/9/2021,ID-SB,Sumatera Barat,718,10,275,433,55675,1259,48840,...,1.81,228.11,2.26%,87.72%,0.93,1.00,NaN,NaN,NaN,NaN
16281,7/9/2021,ID-SS,Sumatera Selatan,341,6,221,114,31147,1569,27088,...,0.73,190.93,5.04%,86.97%,1.15,0.38,NaN,NaN,NaN,NaN
16282,7/9/2021,ID-SU,Sumatera Utara,336,5,241,90,38040,1232,33773,...,0.34,82.82,3.24%,88.78%,1.22,0.83,NaN,NaN,NaN,NaN

In [9]:
jabar = df[df.Location == 'Jawa Barat']
jatim = df[df.Location == 'Jawa Timur']
jateng = df[df.Location == 'Jawa Tengah']

In [10]:
source_jabar = ColumnDataSource(data=jabar)
source_jatim = ColumnDataSource(data=jatim)
source_jateng = ColumnDataSource(data=jateng)

In [11]:
fig1 = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='New Cases',
    title='New Cases',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)
#Menampilkan line plot New Cases dari jabar
a = fig1.line(
    x='Date',
    y='New Cases',
    source=source_jabar,
    color='blue',
    legend_label='Jawa Barat'
)

#Menampilkan line plot New Cases dari jatim
b = fig1.line(
    x='Date',
    y='New Cases',
    source=source_jatim,
    color='red',
    legend_label='Jawa Timur'
)

#Menampilkan line plot New Cases dari jateng
c = fig1.line(
    x='Date',
    y='New Cases',
    source=source_jateng,
    color='yellow',
    legend_label='Jawa Tengah'
)

In [12]:
#BokehLibrary
tooltips = [
            ('Index','@Location'), 
            ('New Cases', '@{New Cases}{f}') 
]

#Menambahkan HoverTool untuk membuat fig
fig1.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

In [13]:
fig2 = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='New Deaths',
    title='New Deaths',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

#Menampilkan line plot New Deaths dari jabar
a = fig2.line(
    x='Date',
    y='New Deaths',
    source=source_jabar,
    color='blue',
    legend_label='Jawa Barat'
)

In [14]:
#Menampilkan line plot New Deaths dari jatim
b = fig2.line(
    x='Date',
    y='New Deaths',
    source=source_jatim,
    color='red',
    legend_label='Jawa Timur'
)

#Menampilkan line plot New Deaths dari jateng
c = fig2.line(
    x='Date',
    y='New Deaths',
    source=source_jateng,
    color='yellow',
    legend_label='Jawa Tengah'
)

In [15]:
# Bokeh Library
tooltips = [
            ('Index','@Location'),
            ('New Deaths', '@{New Deaths}{f}')
]

#Menambahkan HoverTool untuk membuat fig
fig2.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

In [16]:
#Membuat Figure untuk menampilkan Total Active Cases
fig3 = figure(
    x_axis_type='datetime',
    x_axis_label='Date',
    y_axis_label='Total Active Cases',
    title='Total Active Cases',
    toolbar_location='below',
    plot_height=600,
    plot_width=800
)

#Menampilkan line plot Total Active Cases dari jabar
a = fig3.line(
    x='Date',
    y='Total Active Cases',
    source=source_jabar,
    color='blue',
    legend_label='Jawa Barat'
)

#Menampilkan line plot Total Active Cases dari jatim
b = fig3.line(
    x='Date',
    y='Total Active Cases',
    source=source_jatim,
    color='red',
    legend_label='Jawa Timur'
)

#Menampilkan line plot Total Active Cases dari jateng
c = fig3.line(
    x='Date',
    y='Total Active Cases',
    source=source_jateng,
    color='yellow',
    legend_label='Jawa Tengah'
)

In [17]:
#BokehLibrary
tooltips = [
            ('Index','@Location'), 
            ('Total Active Cases', '@{Total Active Cases}{f}')
]

#Menambahkan HoverTool untuk membuat fig
fig3.add_tools(HoverTool(
    tooltips=tooltips,
    mode='vline'
))

In [18]:
# Menampilkan ke plot HTML
output_file('templates/index.html', title='index')

#Menambahkan aspek interaktif yang memungkinkan user untuk menyembunyikan data untuk indeks tertentu
fig1.legend.click_policy = 'hide'
fig2.legend.click_policy = 'hide'
fig3.legend.click_policy = 'hide'

#Membuat tiga panel yaitu New Cases, New Deaths, Total Active Cases
New_Cases = Panel(
    child=fig1,
    title='New Cases'
)
New_Deaths = Panel(
    child=fig2,
    title='New Deaths'
)
Total_Active_Cases = Panel(
    child=fig3,
    title='Total Active Cases'
)

tabs = Tabs(tabs=[
                  New_Cases, New_Deaths, Total_Active_Cases
                ])

curdoc().add_root(tabs)
curdoc().title = "Covid-19 Statistic"